body
{
background: url('img/1_img.jpeg');
color:white;
margin: 0px;
padding: 0px;
font-family: 'Piedra', cursive;
background-repeat: no-repeat;
  background-position: top center;
}


.nav li
{
    display: inline-block;
    color:rgb(17, 16, 16);
    padding:10px 30px;
    font-size: 30px;
    

}
.nav li a{
    color:white;
    text-decoration: none;
}
.nav li a:hover{
    color:red;
}
.left
{
    border:5px solid black;
    display: inline-block;
    position:absolute;
    top:20px;
   left:40px;
   text-align: center;
   color:black;
}

.right
{
    
    display: inline-block;
    position:absolute;
    top:20px;
    right:30px;
}

.center
{
    
    display:block;
    margin:20px auto;
    width:50%;
    top:20px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    
}

.left img 
{
    width:100px;
    height: 80px;
    text-align: center;
}

.btn{
    margin:0px 5px;
    background-color:black;
    color:white;
    padding:5px 20px;
    border:2px solid white;
    border-radius:10px;
    font-size:25px;
    cursor: pointer;
    font-family: 'Piedra', cursive;
}
.btn:hover{
    background-color:white;
    color:black;
}
.container
{
    margin :120px 40px;
    border:5px solid black;
    padding: 25px;
    width:400px;
    color:black;
    border-radius:20px;
    text-align: center;
}
.form_class input
{
    font-size: 20px;
    display: block;
    width:350px;
    height:20px;
    padding:10px 5px;
    margin: 20px auto;
    font-family: 'Piedra', cursive;
}
.container button
{
margin: 5px 0px;
}
